#yinyang {
    width: 200px;
    height: 200px;
    border: 1px solid red;
    border-radius: 50%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(0, 0, 0, 1) 51%, rgba(0, 0, 0, 1) 100%);
    position: relative;
}

#yinyang>.one {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /* border: 1px solid red; */
    background: #000;
    position: absolute;
    top: 50px;
    left: 0px;
}

#yinyang>.one>.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #000;
    position: absolute;
    top: 45px;
    left: 45px;
    background: #fff;
}

#yinyang>.two {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /* border: 1px solid red; */
    background: #fff;
    position: absolute;
    bottom: 50px;
    right: 0px;
}

#yinyang>.two>.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #000;
    position: absolute;
    top: 45px;
    left: 45px;
    background: #000;
}