@keyframes animationFrames {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#yinyang {
    width: 200px;
    height: 200px;
    border: 1px solid red;
    border-radius: 50%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(0, 0, 0, 1) 51%, rgba(0, 0, 0, 1) 100%);
    position: relative;
    animation: animationFrames linear 4s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    margin: 100px auto 20px;
}

#yinyang::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    /* border: 1px solid red; */
    background: #fff;
    position: absolute;
    top: 50px;
    left: 0px;
    border: 45px solid #000;
}

#yinyang::after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    /* border: 1px solid red; */
    background: #000;
    position: absolute;
    bottom: 50px;
    right: 0px;
    border: 45px solid #fff;
}

p {
    color: black;
    text-align: center;
}


/* #yinyang>.one>.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #000;
    position: absolute;
    top: 45px;
    left: 45px;
    background: #fff;
} */


/* #yinyang>.two>.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #000;
    position: absolute;
    top: 45px;
    left: 45px;
    background: #000;
} */